@media screen and (max-width:1000px) {
    .sidebar{
        width: 100%;
    }
    .nav-bar{
        padding: 0 10px;
    }
    #shop{
        padding: 0 10px;
        display: grid;
        gap: 20px;
        /* justify-content: space-between; */
        grid-template-columns: repeat(2,180px);


    }
}
@media screen and (max-width:400px) {
    .sidebar{
        width: 100%;
    }
    .nav-bar{
        padding: 0 10px;
    }
    #shop{
        padding: 0 10px;
        display: grid;
        gap: 20px;
        /* justify-content: space-between; */
        grid-template-columns: repeat(1,250px);


    }
}